.App {
  text-align: center;
  background-color: rgb(215, 246, 255);
  margin: 2%;
  border: 5px solid rgb(82, 82, 168);
}
h1 {
  background-color: rgb(114, 215, 255);
  padding: 20px;
}
button {
  background-color: rgb(94, 255, 1);
  font-weight: 600;
  padding: 3px;
  width: 80px;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
}
input {
  background-color: rgb(236, 236, 236);
  font-weight: 600;
  padding: 3px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}
select, option {
  background-color: rgb(236, 236, 236);
  font-weight: 600;
  padding: 3px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  font-size: 15px;
}